.container-fluid .top-navbar {
  padding-top: 57px;
  padding-bottom: 48px;
}

.navigation .right-side {
  margin-right: 120px;
}
.navigation .right-side a {
  margin-left: 48px;
}

.navigation .left-side .logo {
  margin-left: 120px;
}

.first-section {
  background-image: url("images/scandinavian-interior-mockup-wall-decal-background\ 1.png");
  width: 100%;
  height: 749px;
  background-repeat: repeat-x;
}

.second-section {
  text-align: center;
  background-color: #f2f5ff;
  padding: 50px;
}

.second-section-item {
  display: flex;
  justify-content: center;
}

.second-section img {
  width: 70px;
  height: 50px;
}

.second-section-text {
  margin-left: 15px;
}

.blue {
  padding: 39px;
  width: 643px;
  height: 443px;
  left: 707px;
  background: #dfe9f4;
  border-radius: 10px;
  margin-top: 157px;
  margin-left: 690px;
}
.blue .title {
  font-size: 16px;
}
.blue .title2 {
  font-size: 52px;
  font-weight: 700px;
}
.blue .description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 39px;
}
.third-section .img1 img {
  height: 434px;
  border-radius: 70px 0px 0px 0px;
  margin-top: 38px;
  float: right;
}
.third-section .img2 img {
  height: 434px;
}
.third-section .img3 {
  background: url(images/interior-has-yellow-armchair-empty-gray-wall-background\ 1.png)
    no-repeat;
  height: 434px;
  width: 355px;
  border-radius: 0px 0px 70px 0px;
  margin-top: 38px;
  float: left;
}
.third-section .img3 img {
  height: 291.44px;
  width: 109px;
}
.third-section {
  padding: 60px;
  text-align: center;
}
.fourth-section {
  background-color: #f2f5ff;
  padding: 60px;
}

.fourth-section .left-side {
  text-align: center;
}

.fourth-section .left-side .left-side-content {
  margin: 295px auto;
  width: inherit;
}

.fourth-section .left-side .texts {
  width: 514px;
  text-align: left;
}

.fourth-section .left-side .text1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
}

.fourth-section .left-side .text2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  color: #666666;
}

.fourth-section .left-side .button {
  padding: 20px;
  width: 228px;
  background-color: #054c73;
  text-align: center;
  color: white;
  border-radius: 50px;
}

.fourth-section .right-side {
  position: relative;
}

.fourth-section .right-side .girl {
  position: relative;
  left: 55px;
  border-radius: 60px 10px;
}

.fourth-section .eclipse {
  border-radius: 100%;
  position: absolute;
  right: 135px;
  top: 190px;
  width: 372px;
  height: 373.71px;
  background-color: #09513b;
}

.sixth-section {
  text-align: center;
  padding-top: 60px;
}

.sixth-section .title1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
}

.sixth-section .title2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.sixth-section .items {
  margin-top: 40px;
}

.sixth-section .item {
  position: relative;
}

.sixth-section .item .circle {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  border: 12px solid white;
  text-align: center;
  color: white;
  padding-top: 5px;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sixth-section .item .texts {
  text-align: center;
  margin: 40px auto;
  width: 381px;
}

.sixth-section .item .text1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.sixth-section .item .text2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  text-align: center;

  color: #666666;
}

.final-section {
  background: #03344f;
  padding-top: 50px;
}

.final-section .texts {
  width: 400px;
  margin-left: 105px;
}

.final-section .texts .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.final-section .texts .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #ffffff;
}

.final-section .texts .follow-us {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.final-section .right-side {
    /* margin-left: ; */
}

.final-section .right-side .title {
    font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}

.final-section .right-side .items {
    padding: 0;
}

.final-section .right-side .items li {
    display: inline;
}

.final-section .right-side .items li img {
  width: 175px;
  height: 185px;
}
